body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: lightgrey;
}
header{
    text-align: center;
}
h1{
    color: yellowgreen;
}
header button{
    height: 30px;
    width: 50px;
    border: none;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
}
header input{
    border-radius: 8px;
    width: 50%;
    height: 30px;
    border: none;
    font-size: 20px;
    text-align: center;
}
.list_container{
    margin-top: 40px;
}
#myapp{
    width: 50%;
    margin: 0 auto;
}
ul li{
    text-transform: uppercase;
    margin-bottom: 30px;
    color: black;
    list-style: none;
}
li{
    display: flex;
    justify-content: space-between;
}

